body {
  margin: 0; /* Remove default body margin */
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: rgb(215,254,200);
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 75px;
  padding-right: 75px;
  background-size: cover;
  background-position: center;
  height: 1000px;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.25rem;
  scroll-behavior: smooth;
}

header {
  display: flex;
  background-color: rgb(215,254,200);
  position: fixed;
  top: 0;
  padding-bottom: 0px;
  width: 100%;
  z-index: 1000;
  margin-bottom: 90px;
}

.home-container {
  position: relative;
  padding-top: 50px;
  z-index: 500;
}

a {
  text-decoration: none;
}

.features, .pricing, .resources, .login, .register {
  color: black;
}

.login {
  font-weight: ;
  }

form {
  padding-top: 80px;
  padding-left: 50px;
}

.login-button {
  
}

.register {
  font-size: 1.25rem;
}

.column1 {
  display: flex;
  flex: 1;
  padding-right: 600px;
}

.home {
  color: rgb(11,153,110);
  font-weight: 300;
  font-size: 2rem;
}

.column2 {
  flex: 1;
  display: flex;
}

.column2 nav {
  display: flex;
  gap: 9px;
}

.column2 div {
  padding-right: 9px;
}

.welcome {
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 4rem;
  align-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
  color: rgb(11,153,110);
  margin-top: 30px;
}

.heading {
  padding-left: 60px;
  font-size: 1.5rem;
  }

.list {
  padding-left: 50px;
  padding-bottom: 10px;
}

.paragraph {
  font-size: 1.15rem;
  padding-top: 5px;
  padding-left: 20px;
}

p {
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 150px;
  justify-content: center;
  display: flex;
  flex: 1;
  line-height: 1.75;
}